 {{> header }} 
 
 {{> navbar }}


<div class="row">
    <div class="col-8">
        <h1>Hola mundo, soy un programador web senior</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, fugiat. Dolores doloribus minus vitae corporis doloremque sed, quas labore deleniti earum magnam sint ex nesciunt dolor? Rerum voluptatem dolorem enim. 
        </p>
    </div>
    <div class="col-4">
        <img src="assets/img/imagen1.jpg" alt="Imagen" class="img-thumbnail">
    </div>
</div>


{{> footer }}